
@{
    ViewData["Title"] = "Index";
}

<a class="nav-link " asp-area="" asp-controller="GasMeter" asp-action="Index">Gas Meter</a>
<a class="nav-link " asp-area="" asp-controller="LibertyMeter" asp-action="Index">Liberty Meter</a>

